@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  --primary-color: rgb(40, 40, 40);
  --secondary-color: rgb(255, 255, 255);
  --tertiary-color: rgb(127, 33, 171);
}

body {
  font-family: "Roboto", Arial, sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 1.2rem;
}

img {
  max-width: 100%;
}

.💪🏼 {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.main-hdg {
  margin: 0.5em auto;
}

label {
  color: black;
  margin-bottom: 1rem;
}

#search-form,
.output {
  margin: 1em auto;
}

#search-form {
  text-align: center;
}

#search-input {
  padding: 0.3em 0.5em;
  font-size: 1.1rem;
}

#search-button {
  background-color: var(--tertiary-color);
  transition: opacity 0.2s ease;
  border-radius: 100px;
  padding: 0.3em 1em;
  font-size: 1.1rem;
  cursor: pointer;
  color: white;
  border: none;
}

.btn:hover,
.btn:focus {
  opacity: 0.7;
}

main {
  min-width: 280px;
  width: 40%;
}

.container {
  margin: 0 auto;
  padding: 0.1em 0.3em;
  background-color: rgb(238, 238, 238);
  border-radius: 20px;
}

.output-card {
  margin-bottom: 1em;
  color: black;
  min-height: 329px;
  padding-left: 1em;
}

#image {
  display: flex;
  justify-content: center;
  height: 200px;
  margin: 2em auto;
}

.name-and-id {
  font-weight: bolder;
  letter-spacing: 1px;
  margin-bottom: 0.5em;
}

.weight-and-height,
#types {
  font-size: 1rem;
}

#types span {
  padding: 0.3em 0.6em;
  border-radius: 5px;
  border: 2px solid black;
  margin-right: 0.3em;
}

table {
  width: 100%;
  text-align: center;
  border-spacing: 5px;
}

td {
  background-color: var(--tertiary-color);
  padding: 10px;
}
